<!DOCTYPE html>
<html>
    <head>
        <title>Weather Forecast</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/javascripts/profilepic.js"></script>
        
    </head>
    <body>        
        <%- include navbar.ejs %>
        
        <div id="profilepic">
            <img id="UploadedImg" src="data:<%= mime %>;base64, <%= img %>" alt="profilepicture" style="width: 120px; height: 120px ;display: none;">
            <form enctype="multipart/form-data">
                <input type="file" name="profilepicture" id="profilepicture" accept="image/png, image/jpeg">
                <input type="submit" id="submit" value="Submit">

            </form>
        </div>
        <div id="username">
            <p><%= username %></p>
        </div>
        <div id="email">
            <p><%= email %></p>
        </div>
        <div id="phone">
            <p><%= phone %></p>
        </div>
        
        <div id="changepassword">
            <button onclick="window.location.assign('/changepassword')">Change Your Password</button><br><br>
        </div>
        <div class="footer">
            <a style="color: white;" href="/dashboard/contact">Contact Us</a>
        </div>
    </body>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</html>