<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Profile Picture Path</th>
            </tr>
        </thead>
        <tbody>
            <% if(values){ %>
                <% if(values.length > 0){ %>
                    <% values.forEach(function(item){ %>
                        <tr>
                            <td><%= item.username %></td>
                            <td><%= item.email %></td>
                            <td><%= item.phone %></td>
                            <td><%= item.profilePicturePath %></td>
                        </tr>
                    <% }) %>
                <% }else{ %>
                    <tr>
                        <td><%= values.username %></td>
                        <td><%= values.email %></td>
                        <td><%= values.phone %></td>
                        <td><%= values.profilePicturePath %></td>
                    </tr>                    
                <% } %>
            <% }else{ %>
                <tr>1
                    <td colspan="3"> No results found</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>